#footer{
	background-color: #2c394c;
	margin-top: 10%;
}
.visit-bot{
	display: flex;
}
.bot-title{
	position: relative;
    padding-left: 25px;
    margin: 0px 0px 15px 0px;
    color: #ffffff;
    border-left: 7px solid #11b5e6;
    font-size: 20px;
    font-weight: 600;
}
.bot{
	margin-top: 5%
}
/*.bot-title:before{
	width: 7px;
	height: 22px;
	background-color: #11B5E6;
}*/
.visit-bot{
	line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
    padding-top: 10px;
}
.text-bot{
	color: #fff;
}
.text-bot a:hover{
	color: #f3cc29;
	text-decoration: none;
}
.ic-bot{
	color: #11b5e6;
	margin-top: 5px;
}
.search-bot{
	position: relative;
}
.pl{
	position: absolute;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color:  #11b5e6;
	color: #fff;
	margin-left: -15%;
    margin-top: 1%;
    padding: 7px 0px 3px 7px;
}
.icon-footer{
	margin-top: 5%;
	display: flex;
}
.ic-footer{
	display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    background: #6983a8;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
}
.ic-footer:hover{
	color: #f3cc29;
}
.ip-tim1{
	position: relative;
	width: 250px;
    height: 40px;
    border-radius: 100px;
    border: none;
}
.list-service{
	list-style: none;
}
.list-a{
	color: #fff;
}
.list-a:hover{
	color: #f3cc29;
	text-decoration: none;
}
@media (max-width: 768px){
	
	.bot-title{
		text-align: left!important;
	}
}