.title_block {
	padding: 7% 0 7% 0;
	font-size: 24px;
	color: #333;
	border-bottom: 3px solid #ffd53d;
	font-weight: 600;
}
.blog-categories a:hover{
	text-decoration: none;
}
.category-sub-menu-blog{
	padding: 0px;margin: 0px;
}
.category-sub-menu-blog li{
	list-style: none;
	padding: 0 0 3% 0;
}
.category-sub-menu-blog li a{
	color: #333;
	text-decoration: none;
}

.blog-categories h5:hover{
   color: green;
}
.blog-categories a{
	color: #333;
}
.th{
	list-style: none;
	padding:0 0 5% 0;
}
.ulth{
	padding: 0px;
	margin: 0px;
}
.th a{
	margin-left: 3%;
}
.th a:hover{
	color: green;
}
.sp a{
	text-decoration: none;
	color:#333;
}
.slide-products-content-image-wrap img{
	float: left;
}
.slide-products-content-image-wrap a{
	float: left;
	margin-left: 5px;
}
.slide-products-content-image-wrap h6{
	float: left;
	margin-left: 5px;
}
.box21{text-align:center;position:relative}
/*.box21:after,.box21:before{content:"";
width:2px;
height:2px;
border-radius:50%;
background:rgba(0,0,0,.35);
position:absolute;top:50%;
left:50%;
-webkit-transform:scale(0);
-moz-transform:scale(0);
-ms-transform:scale(0);
-o-transform:scale(0);
transform:scale(0);
}*/
.box21:hover:after,.box21:hover:before{-webkit-transform:scale(100);
	-moz-transform:scale(100);
	-ms-transform:scale(100);
	-o-transform:scale(100);
	transform:scale(100);
}
.box21:before{-o-transition:all .5s linear .3s;
	-moz-transition:all .5s linear .3s;
	-ms-transition:all .5s linear .3s;
	-webkit-transition:all .5s linear .3s;transition:all .5s linear .3s;
}
.box21:hover:before{-moz-transition-delay:0s;
	-webkit-transition-delay:0s;
	-o-transition-delay:0s;-ms-transition-delay:0s;
	transition-delay:0s;
}
.box21:after{-o-transition:all .5s linear .6s;
	-moz-transition:all .5s linear .6s;
	-ms-transition:all .5s linear .6s;
	-webkit-transition:all .5s linear .6s;
	transition:all .5s linear .6s;
}
.box21:hover:after{-moz-transition-delay:.2s;
	-webkit-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s;
}
.box21 img{width:100%;
	height:auto;
}
.box21 .box-content{width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;background:0 0;
	color:#fff;padding-top:10px;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-ms-transition:all .3s linear 0s;
	-o-transition:all .3s linear 0s;
	-webkit-transition:all .3s linear 0s;
	-moz-transition:all .3s linear 0s;
	transition:all .3s linear 0s;z-index:1;
	margin-top: 5% 0 3% 0;
}
.box21:hover .box-content{-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-moz-transition-delay:.4s;
	-webkit-transition-delay:.4s;
	-o-transition-delay:.4s;
	-ms-transition-delay:.4s;
	transition-delay:.4s;
}
.box21 .title{
    font-size: 17px;
    font-weight: 700;
	text-transform:uppercase;
	    margin-top: 10%;
}
.box21 .description{font-size:16px;
	font-style:italic;
	padding:0 10px;
	margin:10px 0;
}
.box21 .read-more{display:block;
	width:70px;
	background:green;
	border-radius:5px;
	font-size:13px;
	color:#fff;
	text-transform:capitalize;
	padding:10px 0;
	margin:0 auto;
}
.description{
	color: #ffd53d;
	font-weight: 700;
}
.slick-arrow{
	z-index: 10;
}
.slick-prev:before {
    position: absolute;
    left: 30px;
    color:green;
}

.slick-next:before {
    position: absolute;
    right: 30px;
    color: green;
}
.kh ul{
  padding: 0;
  margin: 0;
}
.kh ul li{
	list-style: none;
	line-height: 30px;
}
.data-depth-blog {
	padding: 2px 2px 2px 2px;
}
.data-depth-blog:hover{
	background-color:#02b51d;
}
.data-depth-blog:hover a{
	color: #fff !important;
}
.kh ul li a{
	font-size: 18px;
	font-weight: 600;
	color: red;
}
.down:hover{
	color: #fff !important;
}
.category-sub-menu-blog li a {
    color: #000;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}
.category-sub-menu-blog li a:hover{
	color: #fff;
}
.product-grid7{
position:relative;
z-index:1;
border: 1px solid #c2c2b0;
}
.product-grid7 .product-image7{
	border:1px solid rgba(0,0,0,.1);
	overflow:hidden;perspective:1500px;
	position:relative;
	transition:all .3s ease 0s;
}
.product-grid7 .product-image7 a{
	display:block;
}
.product-grid7 .product-image7 img{width:100%;
	height:auto
}
.product-grid7 .pic-1{opacity:1;
	transition:all .5s ease-out 0s
}
.product-grid7 .pic-2{opacity:0;
	transform:rotateY(-90deg);
	position:absolute;
	top:0;left:0;
	transition:all .5s ease-out 0s
}
.product-grid7:hover .pic-2{opacity:1;
	transform:rotateY(0)
}
.product-grid7 .social{padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	bottom:3px;left:-20%;
	z-index:1;
	transition:all .5s ease 0s
}
.product-grid7:hover .social{left:17px}
.product-grid7 .social li a{color:#fff;
	background-color:#333;
	font-size:16px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:40px;
	margin:7px 0;
	border-radius:50%;
	display:block;
	transition:all .5s ease-in-out
}
.product-grid7 .social li a:hover{color:#fff;
	background-color:#28a745;
}
.product-grid7 .product-new-label{color:#fff;
	background-color:#333;
	padding:5px 10px;
	border-radius:5px;
	display:block;
	position:absolute;
	top:10px;
	left:10px;
}
.product-grid7 .product-content{text-align:center;
	padding:20px 0 0;
}
.product-grid7 .title{font-size:15px;
	font-weight:600;
	text-transform:capitalize;
	margin:0 0 10px;
	transition:all .3s ease 0s
}
.product-grid7 .title a{color:#333}
.product-grid7 .title a:hover{color:#78e08f}
.product-grid7 .rating{color:#ffd53d;
	font-size:12px;
	padding:0;
	margin:0 0 10px;
	list-style:none
}
.product-grid7 .price{color:red;
	font-size:20px;
	font-family:Lora,serif;
	font-weight:700;
	margin-bottom:8px;
	text-align:center;
	transition:all .3s
}
.product-grid7 .price span{color:#999;
	font-size:14px;
	font-weight:700;
	text-decoration:line-through;
	margin-left:7px;
	display:inline-block;
}
@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}
.lk h3{
	margin-bottom: inherit;
}

.abc{
	border-right:1px solid grey;
	height: 50%;

}
@media only screen and (max-width:991px){
	.abc{
	border-right:none;
}
.ull{
	display: none;
}
.row{
	    display: flex;
    justify-content: center;
}
h3{
	text-align: center;
}
.action{
	 display: flex;
    justify-content: center;
}
.kh{
   margin: auto;
}
}
.spct img{
	width: 100%;
	height: 400px;
}
.add-to-cart {
	margin-right: 3%;
}
.amount {
    color: #ffd53d;
    background-color: #fff;
    height: 35px;
    width: 80px;
    text-align: center;
    border-color: #ddd;
    padding: 5px 20px 5px 15px;
    border-radius: 50px;
}
 .fa-heart {
	text-decoration: none;
}
#bb{
	    background-color: #ff8000;
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    float: left;
}

.add-cart{
  font-size: 14px!important;
  font-weight: 700!important;
 
  height: 35px!important;
  letter-spacing: 2px;
  background-color:#20c997!important;
  color: #fff!important;
  border: 1px solid transparent;
  margin:0px 10px;
  border-radius: 50px!important;
  float: left;
}
.add-cart:hover{
  background-color: #fff!important;
  color: #ffd53d!important;
  border:  #ffd53d solid 1px;
}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.column {
    float: left;
    width: 25%;
    margin-left: 6%;
    border: #ffd53d solid 1px;
    border-radius: 15px;
}
.column img{
	border-radius:16px;
}

.ull{
	padding: 0;
	margin: 0;
}
.fomm {
	margin: auto;
}
.ull li{
	list-style: none;
	    line-height: 30px;
    font-size: 18px;
}
.row{
	margin-left: none !important;  
}
.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }
.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }
.amount {
	margin-left: 5%;
}
.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }
    .nh {
    	margin-left: 3%;
    height: 35px;
    width: 150px;
    text-align: center;
    border-color: #ddd;
    padding: 5px 20px 5px 15px;
    border-radius: 50px;
    }

.best-seller-pro {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
}
.slider-items-products {
    position: relative;
}
.new_title.center {
    padding: 0 0 0px 0;
    text-align: left;
}
.new_title h2 {
    color: #000;
    font-size: 14px;
    margin-top: 0;
    padding: 13px;
    position: relative;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    background-color: #eaeaea;
    margin: 0;
}
.article-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-flexslider {
    margin: 10px 0px;
    clear: both;
}
.content-page {
    padding: 15px;
    margin: 0!important;
}
.hd{
	font-weight: 500;
  font-size: 18px;
}
.buoc {
	font-size: 19px;
	font-weight: 600;
}
.dv a{
	color: #ffd53d;
}
.MsoNormal{
	text-align: justify;
    line-height: 160%;
}
.do {
	width: 100%;
padding: 5px 5px 10px 2px;

line-height: 30px;
}
.bhh{
	    font-weight: 700;
    color: red;
}